body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
					line-height: normal;
	color: #47525d;
	background-color: #fff;

	margin: 0;
	/*padding: 20px;

	width: 560px;*/
}

			form {
					padding: 15px;
					background: #f5f6fA;
			}

label {
	font-weight: bold;
	display: block;
}

input[type="text"],
input[type="email"] {
	padding: 6px;
	margin-bottom: 20px;
}
.fileupload {
	display: none;
	position: absolute;
	left: 0px;
  right: 0px;
  margin: 0px auto;

	max-width: 560px;
}
.fileuploader-theme-thumbnails{
	border: 1px solid #ccc;
}
.fileuploader-thumbnails-input-inner{
	width: 20px;
	margin: 0 auto;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color: #a6a6a6;
	font-size: 30px;
}

.fileouterlayer{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.75);
}

.fileuploader-item .fileuploader-item-image img{ width: 100%; height: auto;}


.fileuploader{ padding: 0px;}

.fileuploader-theme-thumbnails{border: none;}

.fileuploader-items-list{  margin: 0 -15px;}

.fileuploader-thumbnails-input{
	width: 60px;
  height: 60px;
	border: 2px solid #a6a6a6;
  border-radius: 60px;
	margin: 0px auto;
	cursor: pointer;
}
